$menu-option-bg: #333 !default;

.menu {
  width: 120px;
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  z-index: 999;
  //box-shadow: 0 1px 5px 1px rgba(255, 255, 255, 0.2);

  .menu-options {
    list-style: none;
    padding: 0px;
    margin: 0px;

    .menu-option {
      background-color: $menu-option-bg;
      font-weight: 500;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;

      &:hover {
        background: $black;
      }
    }
  }
}